<div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>Plain Page</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>This is where we edit this page</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus ante. Nullam volutpat leo vel elementum tristique. Curabitur sit amet nulla vel augue elementum imperdiet in sed magna. Curabitur pretium lectus tortor, in tincidunt orci porta eu. Aenean ac elementum turpis. Praesent egestas laoreet sem sed auctor. Nam molestie commodo leo eget scelerisque. In lobortis maximus neque, at consequat libero iaculis et.
                    </p><p>
                    Mauris pulvinar ex erat, quis feugiat diam vestibulum et. Sed in dictum elit. Etiam interdum ultricies gravida. Morbi non neque ut dui blandit laoreet. Sed erat orci, pellentesque eu tellus id, bibendum ornare nunc. Donec quis lacus a est lobortis volutpat. Nam eleifend dolor quis luctus pellentesque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>